*{
    padding: 0em;
    margin: 0em;
}

#app{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#image{
    width: 10em;
}

#info{
    text-align: center;
}

#opensource{
    position: fixed;
    bottom: 2em;
    left: 2em;
    background: #FFF;
    padding: 0.5em;
    text-decoration: none;
}

#opensource .icon{
    margin-right: 0.5em;
}